@import "tailwindcss";

@theme {
  --color-wood: #5D4037;
  --color-wood-dark: #3E2723;
  --color-wood-light: #8D6E63;
  --color-bright-green: #00E676;
  --color-maroon: #800000;
  --color-maroon-dark: #4A0000;
}
